<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679485585862-4ami9ahrnivdfuvp4s7ln6m65t64baed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679485585862-4ami9ahrnivdfuvp4s7ln6m65t64baed</string>
	<key>API_KEY</key>
	<string>AIzaSyAVyjpfJpOElWWXlpnHFS1dvpGXfey9jCE</string>
	<key>GCM_SENDER_ID</key>
	<string>679485585862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-7a8b0</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-7a8b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679485585862:ios:a9d73ff265fe86cae69ac7</string>
</dict>
</plist>